.header {
    display: flex;
    background-color: #a8e6cf;
    border-bottom: 10px solid #ffd3b6;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
